.tabs ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -0.25rem 0 0;
    padding: 0;
}

.tabs li {
    align-items: center;
    border: 1px solid black;
    border-bottom: 0;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 2.5rem;
    line-height: 1;
    margin-right: 0.25rem;
    padding: 0 1.5rem;
    position: relative;
}

.tabs.ulist li {
    margin-bottom: 0;
}

.tabs li + li {
    margin-top: 0;
}

.tabset.is-loading .tabs li:not(:first-child),
.tabset:not(.is-loading) .tabs li:not(.is-active) {
    background-color: black;
    color: white;
}

.tabset.is-loading .tabs li:first-child::after,
.tabs li.is-active::after {
    background-color: white;
    content: "";
    display: block;
    height: 3px; /* Chrome doesn't always paint the line accurately, so add a little extra */
    position: absolute;
    bottom: -1.5px;
    left: 0;
    right: 0;
}

.tabset > .content {
    border: 1px solid gray;
    padding: 1.25rem;
}

.tabset.is-loading .tab-pane:not(:first-child),
.tabset:not(.is-loading) .tab-pane:not(.is-active) {
    display: none;
}

.tab-pane > :first-child {
    margin-top: 0;
}

.navbar-brand .navbar-item + .navbar-item {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .navbar-brand .navbar-item + .navbar-item {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-brand {
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    .navbar-menu {
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
}

.doc .image.conum > img {
    height: 0.9em;
    width: auto;
    vertical-align: -0.1em;
}

.literalblock pre, .listingblock > .content > pre {
    /*font-size: 0.8125em;*/
    font-size: 0.6em;
}

@media only screen and (min-width: 768px) {
    .literalblock pre, .listingblock > .content > pre {
        /*font-size: 0.90625em;*/
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 1280px) {
    .literalblock pre, .listingblock > .content > pre {
        /*font-size: 1em;*/
        font-size: 0.8em;
    }
}
